title: Passionate Developer
name: Marcin Kuthan
description: Software engineering blog
url: http://mkuthan.github.io
repository: "mkuthan/mkuthan.github.io"

logo: /assets/images/logo.webp

theme: minimal-mistakes-jekyll
minimal_mistakes_skin: "dirt"

author:
  name: "Marcin Kuthan"
  avatar: "https://www.gravatar.com/avatar/71e9ba5350f53c3416b7ed2617d04ab5?s=400"
  bio: Big data engineer leading Allegro engineering team
    that develops highly scalable and fault-tolerant data ingestion and visualisation platform.
    Our systems process a few billion events every day with e2e latency below one minute.
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github-square"
      url: "https://github.com/mkuthan"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://github.com/MarcinKuthan"

# keep compatibility with the old blog platform layout
permalink: /blog/:year/:month/:day/:title/

# pagination
paginate: 10
paginate_path: /page:num/

# front matter defaults
defaults:
  # blog posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      classes: wide
      comments: true
      share: false
      show_date: true
      toc: true
      read_time: true
      related: true
      tagline: ""
      header:
        overlay_image: /assets/images/overlay.webp
        caption: "[Unsplash](https://unsplash.com/@lucabravo)"
        overlay_filter: 0.2

# additional folders to process
include: ["_pages"]

# kramdown, see: https://kramdown.gettalong.org/documentation.html
markdown: kramdown
kramdown:
  input: GFM # https://docs.github.com/en/get-started/writing-on-github
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    span:
      line_numbers: false
    block:
      line_numbers: true

# compress CSS, see: https://sass-lang.com/documentation/cli/dart-sass#style
sass:
  style: compressed

# default is 200, too high estimation for the technical content
words_per_minute: 120

# open graph image for pages that don't have header.image in front matter
og_image: /assets/images/overlay.webp

# mermaid diagrams
mermaid:
  src: 'https://unpkg.com/mermaid@9.1.3/dist/mermaid.min.js'

# post comments
comments:
  provider: "disqus"
  disqus:
    shortname: "mkuthan"

# analytics
analytics:
  provider: "google-gtag"
  google:
    tracking_id: "UA-50832428-2"

# tag archives using jekyll-archives, see: https://github.com/jekyll/jekyll-archives
tag_archive:
  type: liquid
  path: /tags/

jekyll-archives:
  enabled:
    - tags
  layouts:
    tag: archive-taxonomy
  permalinks:
    tag: /tags/:name/
