title: Passionate Developer
url: http://mkuthan.github.io

theme: minimal-mistakes-jekyll
minimal_mistakes_skin: "dirt"

plugins:
  - jekyll-archives

sass:
  style: compressed

search: true
search_full_content: false

logo: /assets/images/logo.webp
og_image: /assets/images/luca-bravo-9l_326FISzk-unsplash.webp

permalink: /blog/:year/:month/:day/:title/
paginate: 10
paginate_path: /page:num/

markdown: kramdown
kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    span:
      line_numbers: false
    block:
      line_numbers: true

# default is 200, too high estimation for the technical content
words_per_minute: 120

author:
  name: "Marcin Kuthan"
  avatar: "/assets/images/avatar.webp"
  bio: "Big data engineer leading Allegro engineering team that develops highly scalable and fault-tolerant data ingestion and analytics platform."
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github-square"
      url: "https://github.com/mkuthan"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://github.com/MarcinKuthan"

category_archive:
  type: jekyll-archives
  path: /categories/
tag_archive:
  type: jekyll-archives
  path: /tags/
jekyll-archives:
  enabled:
    - categories
    - tags
  layouts:
    category: archive-taxonomy
    tag: archive-taxonomy
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/

comments:
  provider: "disqus"
  disqus:
    shortname: "mkuthan"

analytics:
  provider: "google-gtag"
  google:
    tracking_id: "UA-50832428-2"

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      classes: wide
      author_profile: true
      comments: true
      share: false
      show_date: true
      toc: true
      read_time: true
      related: true
  - scope:
      path: ""
      type: tag
    values:
      author_profile: true
  - scope:
      path: ""
      type: category
    values:
      author_profile: true
