title: Passionate Developer
url: http://mkuthan.github.io

theme: minimal-mistakes-jekyll
minimal_mistakes_skin: "dirt"

logo: /assets/images/logo.webp

author:
  name: "Marcin Kuthan"
  avatar: "https://www.gravatar.com/avatar/71e9ba5350f53c3416b7ed2617d04ab5?s=400"
  bio: Big data engineer leading Allegro engineering team
    that develops highly scalable and fault-tolerant data ingestion and visualisation platform.
    Our systems process a few billion events every day with e2e latency below one minute.
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github-square"
      url: "https://github.com/mkuthan"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://github.com/MarcinKuthan"

permalink: /blog/:year/:month/:day/:title/
paginate: 10
paginate_path: /page:num/

markdown: kramdown
kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    span:
      line_numbers: false
    block:
      line_numbers: true

# enable Google search engine instead of Lunr
search: true
search_provider: google
google:
  search_engine_id: c7d3624a168d340fe

# compress CSS, see: https://sass-lang.com/documentation/cli/dart-sass#style
sass:
  style: compressed

# default is 200, too high estimation for the technical content
words_per_minute: 120

# open graph image for pages that don't have header.image in front matter
og_image: /assets/images/luca-bravo-9l_326FISzk-unsplash.webp

# mermaid diagrams
mermaid:
  src: 'https://unpkg.com/mermaid@9.1.3/dist/mermaid.min.js'

comments:
  provider: "disqus"
  disqus:
    shortname: "mkuthan"

analytics:
  provider: "google-gtag"
  google:
    tracking_id: "UA-50832428-2"

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      classes: wide
      author_profile: true
      comments: true
      share: false
      show_date: true
      toc: true
      read_time: true
      related: true
  - scope:
      path: ""
      type: tag
    values:
      author_profile: true
  - scope:
      path: ""
      type: category
    values:
      author_profile: true

# archives (categories and tags), see: https://github.com/jekyll/jekyll-archives
category_archive:
  type: jekyll-archives
  path: /categories/
tag_archive:
  type: jekyll-archives
  path: /tags/
jekyll-archives:
  enabled:
    - categories
    - tags
  layouts:
    category: archive-taxonomy
    tag: archive-taxonomy
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/
