name: Publish

on:
  push:
    branches:
      - master

jobs:
  jekyll:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - run: bundle exec jekyll build
        env:
          JEKYLL_ENV: production

      - uses: actions/configure-pages@v3

      - uses: actions/upload-pages-artifact@v2
        with:
          path: _site

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v2

  algolia:
    runs-on: ubuntu-latest
    needs: jekyll

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - run: bundle exec jekyll algolia
        env:
          ALGOLIA_API_KEY: "${{ secrets.ALGOLIA_API_KEY }}"
